.nav-hover:hover {
  color:  $accent;
  opacity: 0.75;
}
.nav-bg-hover:hover {
  background-color: $gray-500;
  opacity: 0.3;
}

.hover-bg-white:hover {
  background-color: $white;
}

.breadcrumb-item a:active,.breadcrumb-item a:hover {
  color:$gray-600 ;
}

.hvr-sweep-to-right {
  transition-duration: 1s;
    &:before {
      background: $dark;
    }
}

.display-none {
  display: none;
}