.nav-hover:hover {
  color:  $accent;
  opacity: 0.75;
}
.nav-bg-hover:hover {
  background-color: $gray-500;
  opacity: 0.3;
}

.hover-bg-white:hover {
  background-color: $white;
}

.link-hover-accent:hover {
  color: $accent;
}

.breadcrumb-item a:active,.breadcrumb-item a:hover {
  color:$gray-600 ;
}

.hvr-sweep-to-right {
  transition-duration: 1s;
    &:before {
      background: $dark;
    }
}

.ani-arrow {
  position: absolute;
  bottom: calc(100% - 2.5rem);
  z-index: 1;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  padding: 0.75rem;
  animation: next .6s linear infinite alternate;
  animation-name: arrow
}

@keyframes arrow {
  0% {transform: translate(-50%)}
  100% {transform: translate(-50%,20%)}
}

.step {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $secondary;
  color: $accent;
  &.active {
    background-color: $accent;
    color: $light;
  }
}

.step-border-light::after {
  content: '';
  background-color: $secondary;
  height: 4px;
  width: 100px;
  position: absolute;
  top: 30%;
  left: 61%;
}

.step-border-dark::after {
  content: '';
  background-color: $accent;
  height: 4px;
  width: 100px;
  position: absolute;
  top: 30%;
  left: 61%;
}



