.banner {
  height: 550px;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1612201143788-b15844da6606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  @include media-breakpoint-up(sm) {
    height: 580px;
  }
}