.banner {
  height: 600px;
  background: url(https://upload.cc/i1/2022/03/20/B6mWs1.png)center center/cover;
  @include media-breakpoint-up(sm) {
    height: 700px;
  }
}

.product-banner {
  height: 600px;
  background: url(https://upload.cc/i1/2022/03/24/X1pQUr.png)center center/cover;
  opacity: 0.75;
}