.logo {
  @include  text-hide {
    width: 118px;
    height: 125px;
    background-image: url('../src/assets/images/logo.png');
  }
}

.nav-collapse {
  top:145px;
}

.nav-400p {
  width: 400px;
}

.productNav-icon-1 {
  background-image: url('../src/assets/images/tea-stand.png');
  width: 30px;
  height: 30px;
  background-size: cover;
}

.productNav-icon-2 {
  background-image: url('../src/assets/images/madeleine.png');
  width: 30px;
  height: 30px;
  background-size: cover;
}

.productNav-icon-3 {
  background-image: url('../src/assets/images/sliced-bread.png');
  width: 30px;
  height: 30px;
  background-size: cover;
}

.productNav-icon-4 {
  background-image: url('../src/assets/images/pudding.png');
  width: 30px;
  height: 30px;
  background-size: cover;
}
